@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.form-wrapper {
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    background: linear-gradient(to right, #ffffff, #f0f4f8);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    font-family: Inter;
  }
  
  .form-title {
    font-size: 28px;
    color: #311847;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .employee-form {
    display: grid;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccd6dd;
    border-radius: 8px;
    transition: border 0.3s ease;
  }
  
  input:focus {
    border-color: #311847;
    outline: none;
  }
  
  .submit-btn {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #b670b0;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #46EDF9;
  }
