@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #311847;
  padding: 25px 70px;
  flex-wrap: wrap;
}

.logo {
  color: white;
  font-family: DM Serif Text;
  font-size: 32px;
}


.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-family: Inter;
  padding: 0 20px;
  transition: 0.4s all ease;
}

.nav ul li a:hover {
  cursor: pointer;
  background-color: white;
  color: #311847;
  padding: 10px 20px;
}